.header {
  padding: 92px 49px 92px 51px;
  display: grid;
  grid-template: 109px / 1fr 1fr 1fr;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__link-list {
  display: flex;
}

.header__list-item {
  list-style: circle;
  margin-right: 32px;
  line-height: normal;
}

.header__link-list .header__list-item:last-child {
  margin-right: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  height: 100%;
}

.address {
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

.cover {
  background: url("../images/cover.jpg") no-repeat;
  height: 757px;
  position: relative;
  text-transform: uppercase;
  color: white;
  z-index: -1;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0 0 0 / .6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  padding-bottom: 147px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  word-spacing: 20px;
  line-height: normal;
  align-self: center;
}

.bet-button {
  text-transform: uppercase;
  margin-left: 78px;
  background-color: transparent;
  color: white;
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  border: 1px solid white;
  padding: 12px 32px;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  text-transform: uppercase;
  margin-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 430px;
  height: 450px;
  flex-grow: 1;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  z-index: -1;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg")
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg")
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg")
}

.card__title {
  position: relative;
  z-index: 1;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.about {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas:
  "logo title"
  ". text";
  gap: 10px;
}

.about__column {
  margin: auto 0;
}

.about__logo {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
  margin: 0 auto;
}

.about__logo-img {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  color: black;
  grid-area: title;
}

.about__text-container {
  grid-area: text;
}

.about__text-container .about__text {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.about__text-container .about__text:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 90px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: black 1px solid;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
  width: 240px;
  height: 48px;
  justify-content: space-between;
}

.footer__social-icon {
  height: 48px;
}
